 html, body {
     height: 100%;
     margin: 0;
 }
 
 .clearing {
     clear: both;
 }
 
 body {
            font-family: 'calibri';
            color: #000000;
            padding: 0 0;
            margin: 0 0;
      
        }

        .wrapper {
            position: relative;
            min-height: 100%;
            height: auto !important;
        }

        header{
            display: table;
            color: white;
            background-color:#30322e;
            margin: 0 auto;
            position: relative;
            top: 0px;
            height:90px;
            width: 100%;
            
        }

        #startseiten-text{
            float:left;
            width: 340px;
            margin: 5px 0 20px 490px;
            font-family:'calibri';
            font-size:20px;
            color:black;
            text-align: center;
            font-weight:900;

        }

        .startseiten-text2{
            border-radius:30px;
            background-color: #ffffff;
            width: 700px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            font-family:'calibri';
            font-size:20px;
            color: #000000;
            text-align: center;
            font-weight:900;
            
            

        }

        .startseiten-text2 h1{
            text-align: center;
            color:#000000;
        }


        .startButton{

        
            border-radius:5px;
            font-size:30px;
            font-family:calibri;
            color:white;
            border-style: solid; 
            border-color:green;
            background-color:#3FAA34;
            text-decoration:none;
            padding: 15px 32px;
            
        }

        .AuswahlButton{
            
                    
                        border-radius:5px;
                        font-size:30px;
                        font-family:calibri;
                        color:white;
                        border-style: solid; 
                        border-color:green;
                        background-color:#3FAA34;
                        text-decoration:none;
                        padding: 15px 32px;
                        width: 250px;
                        margin-left: auto;
                        margin-right: auto;
                        display: block;
                    }
        .AuswertungÜberschrift {
                    margin-top: 200px;
        }
            
        .startButton:hover, .startButton:active {
            background-color:white;
            color:#3FAA34;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }


        /*infotexte button*/

    .button-container{
        text-align: right;
        clear: both;
        width:200px;
        margin-left:60%;
        margin-top:50px;
        position: absolute;
    }



        .logo {
            height: 55px;
            float: left;
            margin: auto;
            position: absolute;
            top: 0;
            margin-top: 15px;
            margin-bottom: 10px;
            margin-left: 30px;
        }

        a.logoLink {

padding:0;
        }

.manualLink{

display:block;
padding:0;

}

.logoManual{
    display: block;
    margin-left: auto;
    margin-right: auto;
 padding-top: 100px;
}

/*link im Benutzerhandbuch über Logo*/
.logoManualLink{

    padding:0;

    display:block;

}



    hr { 
        width: 95%; 
        height: 5px; 
        margin: 0 auto;
        color:yellow;
        background: green;
    }

        .homebutton {
            font-family: 'calibri';
            display: table; 
            background-color:none;
            color:white;
            font-size: 18px;
            font-weight: normal;
            border-style:groove;
            border-color:grey;
            border-radius: 5px;
            height: 20px;
            width: 170px;
            text-align: center;
            float: right;
            margin-right: 10px;
        
            margin-bottom: 20px;
            vertical-align: middle;
        }

        .homebutton p{
     
            vertical-align: middle;
        }

         .homebutton:visited, .homebutton:active {
            text-decoration: none;
            color: #ffffff;
        }

        .homebutton:hover {
        background-color:grey;
        }



        
        .content {
        
             padding-bottom:200px;  
            
        }

        .subcontent {
            width: 750px;
            /*max-height: 100px;*/
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        
        .subcontent2{

            width: 800px;
            /*max-height: 100px;*/
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;

        }

        .backgroundimage {
            display:table-cell;
            vertical-align: middle;
            position: absolute;
            width:100%;
            height: 100%;
            top:0;
            left:0;
            z-index: -1
        }

      


        h1 {
            font-size: 30px;
            color: #000000;
            text-align: center;
            font-family:'calibri';
          
        }

        h2 {
            margin-bottom:30px;
            font-size: 20px;
            color: #000000;
            text-align: center;
            font-family:'calibri';
        }

        .content h3{

            text-align: center;
            font-family:calibri;
        }


        .box1 {

            border-radius:5px;
            font-size:30px;
            font-family:'calibri';
            color:white !important;
            border-style: solid; 
            border-color:green;
            background-color:#3FAA34;
            text-decoration:none;
            padding: 15px 32px;
            float:left;
            text-align: center;

        }


        .box1:hover, .box1:active {
            background-color:white;
            color:#3FAA34 !important;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }





        .box2 {
            border-radius:5px;
            font-size:30px;
            font-family:'calibri';
            color:white !important;
            border-style: solid; 
            border-color:green;
            background-color:#3FAA34;
            text-decoration:none;
            padding: 15px 32px;
            text-align: center;
            float: right;
            text-decoration: none !important;
        
        }



        .box2:hover, .box2:active {
            background-color:white !important;
            color:#3FAA34 !important;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }

        .box3 {
            margin-left:130px;
            border-radius:5px;
            font-size:30px;
            font-family:'calibri';
            color:white !important;
            border-style: solid; 
            border-color:green;
            background-color:#2B6922;
            padding: 15px 32px;
            text-align: center;
           text-decoration: none !important;
        }


        .box3:hover, .box3:active {
            background-color:white !important;
            color:#2B6922!important;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }

        .box1 p, .box2 p, .box3 p {
        
            vertical-align: middle;
        }

    .button-group{
        
                    width: 600px;
                    margin: 0 auto;
                }

/*auswahl buttons auf der startseite der infoseite*/

.auswahlButton{

    border-radius:5px;
    font-size:15px;
    font-family:'calibri';
    color:white !important;
    border-style: solid; 
    border-color:green;
    background-color:#3FAA34;
    text-decoration:none;
    padding: 0 auto;
    float:left;
    text-align: center;
    width:150px;
    height:54px;
}


.auswahlButton:hover, .auswahlButton:active {
    background-color:white !important;
    color:#2B6922!important;
    text-decoration: none;
    border-style: solid;
    border-color:green;
}

.auswahlButton:hover, .auswahlButton:active {
            background-color:white !important;
            color:#2B6922!important;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }


td{
padding:8px;

}

tr{

 margin-right:100px;   
}

/* vor und zurück button*/


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}


.weiter {
   /* float:right;
    margin-top: 10px;*/
    font-family: 'calibri';
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-right:10px;
}
.weiter:hover, .auswertung:hover, .zurueck:hover {
    
    background-color: grey;
}
.zurueck {
    
   /* margin-top:10px;
    margin-left:450px;*/
    background-color: green;
    color: white;
    font-family: 'calibri';
    border-radius: 5px;
}

.auswertung {
    float:right;
    margin-top: 10px;
    font-family: 'calibri';
    background-color: #30322e;
    color: white;
    border-radius: 5px;
 }


.auswahlContainer{

    width: 750px;
    /*max-height: 100px;*/
  /*  margin-top: 50px;*/
  
    
    float:right;
}

.content-abschlussquiz{
float:left;
width:50%;
}



input {
    
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input[type="radio"] + img {
    border: 2px solid transparent;
}
input[type="radio"]:checked + img {
    border: 2px solid red;
}



input, textarea, select, button {
    text-rendering: auto;
    color: green;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}



form p {
     line-height: 1em;
}



/*Footer*/
        footer {
           color:white;
            background-color:#30322e;
            /*overflow: hidden;*/
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
            text-align: center;
            margin: 0 auto;
            position: absolute;
            height: 90px;
            width: 100%;
            font-family:'calibri';
            bottom:0; 
        }
       
        

  .footercontent{

font-family:calibri;
bottom:100px;

}
        footer a:link, footer a:visited, footer a:active {
            color: white;
            text-decoration: none;
           background-color:none !important;
        }
        

        footer a:hover {
            color:whitesmoke;
            text-decoration:underline;
            background-color:none !important;
        }

        .footercontent {
            display: inline;
        }

        .quizbild {
            height: 200px;
            float: right;
        }
        