 body {
            font-family: 'Arvo', serif;
            color: #000000;
            padding: 0 0;
            margin: 0 0;
        }

        html,body {
              height:100%;
      
           
        }

        .wrapper {
            position: relative;
            min-height: 100%;
            height: auto !important;
            height: 100%;
        }

        header{
            display: table;
            color: white;
            background-color:#30322e;
            margin: 0 auto;
            position: absolute;
            top: 0px;
            height:90px;
            width: 100%;
            
        }

        #startseiten-text{
float:left;
width: 340px;
margin: 5px 0 20px 400px;
font-family:'calibri';
font-size:20px;
color:black;
text-align: center;
font-weight:900;

        }


        .startButton{

        
            border-radius:5px;
            font-size:30px;
            font-family:calibri;
            color:white;
            border-style: solid; 
            border-color:green;
            background-color:#3FAA34;
            text-decoration:none;
            padding: 15px 32px;
            
        }


        .startButton:hover, .startButton:active {
            background-color:white;
            color:#3FAA34;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }

        

        .logo {
            height: 55px;
            float: left;
            margin: auto;
            position: absolute;
            top: 0;
            margin-top: 15px;
            margin-bottom: 10px;
            margin-left: 30px;
        }

        .homebutton {
            font-family: 'calibri';
            display: table; 
            background-color:none;
            color:white;
            font-size: 18px;
            font-weight: normal;
            border-style:groove;
            border-color:grey;
            border-radius: 5px;
            height: 30px;
            width: 200px;
            text-align: center;
            float: right;
            margin-right: 10px;
            margin-top: 20px;
            margin-bottom: 20px;
            vertical-align: middle;
        }

        .homebutton p{
            display: table-cell;
            vertical-align: middle;
        }

        .homebutton a:link, .homebutton a:visited, .homebutton a:active {
            text-decoration: none;
            color: #ffffff;
        }

        .homebutton:hover {
        background-color:grey;
        }

        .content {
            padding-top: 90px;
            padding-bottom: 60px; 
        }

        .subcontent {
            width: 650px;
            max-height: 100px;
            margin-top: 70px;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            font-size: 30px;
            color: #000000;
            text-align: center;
            font-family:'calibri';
          
        }

        h2 {
            font-size: 20px;
            color: #000000;
            text-align: center;
            font-family:'calibri';
        }



        .box1 {

            border-radius:5px;
            font-size:30px;
            font-family:'calibri';
            color:white !important;
            border-style: solid; 
            border-color:green;
            background-color:#3FAA34;
            text-decoration:none;
            padding: 15px 32px;
            float:left;
            text-align: center;

        }


        .box1:hover, .box1:active {
            background-color:white;
            color:#3FAA34 !important;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }





        .box2 {
            border-radius:5px;
            font-size:30px;
            font-family:'calibri';
            color:white !important;
            border-style: solid; 
            border-color:green;
            background-color:#3FAA34;
            text-decoration:none;
            padding: 15px 32px;
            text-align: center;
            float: right;
            text-decoration: none !important;
        
        }



        .box2:hover, .box2:active {
            background-color:white !important;
            color:#3FAA34 !important;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }

        .box3 {
            border-radius:5px;
            font-size:30px;
            font-family:'calibri';
            color:white !important;
            border-style: solid; 
            border-color:green;
            background-color:#3FAA34;
            padding: 15px 32px;
            text-align: center;
           text-decoration: none !important;
        }


        .box3:hover, .box3:active {
            background-color:white !important;
            color:#3FAA34 !important;
            text-decoration: none;
            border-style: solid;
            border-color:green;
        }

        .box1 p, .box2 p, .box3 p {
        
            vertical-align: middle;
        }



      .box1:hover, .box1:active {
            background-color:white;
            color:#3FAA34;
            border-style: solid;
            border-color:green;
            text-decoration: none !important;
        }

        .box2:hover, .box2:active {
            background-color:white;
            color:#3FAA34;
            border-style: solid;
            border-color:green;
            text-decoration: none !important;
        }
       
      .box3:hover, .box3:active {
        background-color:white;
        color:#3FAA34;
        border-style: solid;
        border-color:green;
        text-decoration: none !important;
    }


/*Footer*/
        footer {
           color:white;
            background-color:#30322e;
            overflow: hidden;
            text-decoration: none;
            font-size: 12px;
            font-weight: normal;
            text-align: center;
            margin: 0 auto;
            position: fixed;
            bottom: 0px;
            height: 90px;
            width: 100%;
            font-family:'calibri';
        }
       
        

  .footercontent{

font-family:calibri;
bottom:100px;

}
        footer a:link, footer a:visited, footer a:active {
            color: white;
            text-decoration:none;
           
        }
        

        footer a:hover {
            color: #ffffff;
        }

        .footercontent {
            display: inline;
        }

        .quizbild {
            height: 200px;
        }
        